# For PDF parsing
pypdf
pdfplumber

# For Excel parsing
openpyxl
unstructured
networkx


# Core
langchain
langchain-community
langchain-openai
streamlit
python-dotenv

# Needed for embeddings and FAISS
faiss-cpu
openai
pandas
